* {
  margin: 0;
  padding: 0;
}

body {
    display: flex;
    max-width:100vw;
    max-height:100vh;
    flex-direction: column;
    justify-content: center;
}

/*Header*/

header {
  background: #5bbdff; /*#bb1919;*/
}

.titleAndLogo {
  display: flex;
  flex-direction: row;
}

.titleAndLogo h1 {
  font-size: 2.6em;
  margin-top: 35px;
  color: white;
}

/*Navigation*/
ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li {
  list-style: none;
  padding: 0% 2.5% 0% 2.5%;
  border-left: 2px solid white;
}

li:hover {
  border-bottom: 3px solid white;
}

li.active {
  border-bottom: 3px solid white;
}

a {
  color: white;
  text-decoration: none;
  transition: color 1s;
}



a.active {
  pointer-events: none;

}


/*Main*/
/*Code forked from Liz*/
main {
	display: flex;
	justify-content: center;
	align-items: stretch;
	margin-top: 10px;
	border-top: 3px solid black;
  padding-bottom: 2.5%;
  flex-wrap: wrap;
}

main aside h1 {
  height:30%;
  font-size: 3em;
}

main p {

}

main aside h2 {
  padding: 5% 0% 0% 0%;
}

main > aside {
	flex-grow: 0;
	flex-basis: 20%;
	text-align: center;
	padding: 5% 20px;
}

main aside p {
	/*text-align: left;*/
  padding-bottom: 2.5%;
  font-size: 1em;
}

/*Glossary*/
.gloss {
  padding-bottom: 10px;
  text-align: center;
  font-size: 0.8em
}


/**/
/*tutorials*/
.padtop {
  padding-top: 50px;
}

.tutlink {
  color:blue;
}

/*Jobs*/

.jobcol {

}

.jobcol < p {
  padding-left: 20px;
}


/*Footer*/
/*Code forked from Liz*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
	font-size: 1em;
	font-weight: bold;
	margin-top: 5%;
	border-top: 3px double black;
	border-bottom: 3px double black;
  position: fixed;
  width: 100%;
  bottom: 0;
}


footer b:hover {
  text-decoration: underline;
  pointer-events: auto;
  color: blue;
}

/*Media Queries*/
@media (max-width:1280px) {
  main aside p {
    font-size: 0.9em;

  }
  main aside h1 {
    font-size: 2.5em;

  }
  main aside h2 {
    font-size: 2em;

  }
}

@media (max-width:948px) {
  footer {

  }
  main aside p {
    font-size: 0.8em;
  }
  main aside h1 {
    font-size: 2em;
  }
  main aside h2 {
    font-size: 1.5em;
  }
  main aside li {
    font-size: 0.8em;
  }
}

@media (max-width:600px) {
  .titleAndLogo h1 {
    font-size: 2em;
  }

  main aside p {
    font-size: 0.7em;
  }
  main aside h1 {
    font-size: 2em;

  }
  main aside h2 {
    font-size: 1em;

  }
  main aside li {
    font-size: 0.7em;
  }
}

@media (max-width:400px) {
  .titleAndLogo h1 {
    font-size: 1.5em;
  }
}

@media (max-width:320px) {
  main aside p {
    font-size: 50%;
    flex-basis: 10%;
  }
  main aside h1 {
    font-size: 50%;
  }
  main aside h2 {
    font-size: 50%;
  }
  main aside li {
    font-size: 50%;
    flex-basis: 10%;
  }
}
